*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* share-style */
.fonts-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}



/* main-style */
header{
    width: 100%;
    max-width: 1600px;
    /* border: 1px solid black; */
}

.container{
    width: 86%;
    max-width: 1360px;
    
    margin: 0 auto;
    /* border: 1px solid black; */


}
.container .logo{
    margin: 16px 0;
    width: 139px;
    height: 60px;
}


nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav .menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
    
    
}

nav .menu a{
    text-decoration:none;
    color: #000000;
    line-height: 152%;
    font-size: 16px;
    font-weight: 500;
}

nav .btn{
    width: 164px;
    align-items: center;
    margin: 24px 0;
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 4px;
    border: none;
}

#banner{
     width: 100%;
    max-width: 1600px;
    height: 674px;
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
}
#banner .banner-container{
    max-width: 1360px;
    height: 295px;
    /* border:1px solid#FFFFFF; */
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    
}
 /* .sub-title h4{
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border: 100%;
} */
.banner-container .sub-title {
  background-color: #FFFFFF;
  
  color: #469165;
  padding: 8px 12px;
  text-align: center;
  display: inline-block;
  /* margin: 4px 2px; */
  
  border-radius: 1000px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 300;
}
/* .banner-des{
    max-width: 770px;
   margin: 0 auto;
} */
.banner-container .banner-info h2{
    font-size: 72px;
    line-height: 84px;
    color: #ffffff;
    opacity: 90%;
    margin: 0 auto;
    margin-bottom: 16px;
     max-width: 770px;


}
.banner-container .banner-info p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 32px;
}


.banner-btn .start-btn{
    height: 52px;
     width: 251px;
     border: none;
     padding: 12px 16px;
     color:#FFFFFF ;
     border-radius: 4px;
     font-size: 16px;
     font-weight: 500;
     background-color: #469165;
     margin-right: 16px;
}
.banner-btn .works-btn{
    width: 198px;
    height: 52px;
    /* border: none; */
    background: transparent;
    border-color: #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    color:#FFFFFF ;
     font-size: 16px;
      font-weight: 500;
}
/* .dot-line::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #22c55e;
  border-radius: 50%;
} */